.sorting-container {
    display: flex;
    background-color: aqua;
    margin-left: 90rem;
    background: transparent;
    border: none;
    border: 0.6px solid #ccc;
    border-radius:5px ;
    color: #323232;
    height: 25px;
    cursor: pointer;


}
.sort-title{
    margin-left: 90rem;
    margin-bottom: 20px;
    margin-top: -80px;
    font-size: 18px;
    font-family: sans-serif;
}

.sort-btns {
 font-size: 15px;
}